extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12
      img.img-fluid.rounded(src='https://www.chegg.com/play/wp-content/uploads/sites/3/2017/06/boba-hero.png')

  .row
    .col-12
      h1
      
  .row
    .col-12.col-md-6
      each location in locations1
        .card
          .card-block
            h4
              a(href='/location')= location.name
              +outputRating(location.rating)
              span.badge.badge-pill.badge-default.float-right= location.distance
            p.address= location.address
            .facilities
              each quality in location.bobaQuality
                span.badge.badge-warning= quality
    .col-12.col-md-6
      each location in locations2
        .card
          .card-block
            h4
              a(href='/location')= location.name
              +outputRating(location.rating)
              span.badge.badge-pill.badge-default.float-right= location.distance
            p.address= location.address
            .facilities
              each quality in location.bobaQuality
                span.badge.badge-warning= quality